@{
    ViewData["Title"] = "Trang quản trị Admin";
}

<h2>Trang quản trị Admin</h2>
<p>Chào mừng, Admin!</p>

<a class="nav-link text-dark" asp-controller="Admin" asp-action="AdminUser">
    Quản lý Người dùng
</a>

<a class="nav-link text-dark" asp-controller="Admin" asp-action="Categories">
    Quản lý Danh mục
</a>
<a class="nav-link text-dark" asp-controller="Admin" asp-action="Products">
    Quản lý Sản phẩm
</a>
<a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageOrders">
    Quản lý Đơn hàng
</a>
<a class="nav-link text-dark" asp-controller="Admin" asp-action="Revenue">
    Quản lý Doanh thu
</a>
<a class="nav-link text-dark" asp-controller="Admin" asp-action="Vouchers">
    Quản lý Voucher
</a>